// @import "~bulma/sass/utilities/initial-variables";

$family-serif: serif;
$family-primary: $family-serif;

@import "~bulma/bulma";

.t-is-v {
  .c-is-R {
    background: #d02f48;
    color: $white;

    &.to-grd { background: linear-gradient(#d9596d , #d02f48); }
  }
  .c-is-rO {
    background: #e95b23;
    color: $white;

    &.to-grd { background: linear-gradient(#ec7546 , #e95b23); }
  }
  .c-is-yO {
    background: #f49d00;
    color: $grey-dark;

    &.to-grd { background: linear-gradient(#ffa400 , #f49d00); }
  }
  .c-is-Y {
    background: #eec900;
    color: $grey-dark;

    &.to-grd { background: linear-gradient(#ffd700 , #eec900); }
  }
  .c-is-YG {
    background: #a8bb00;
    color: $grey-dark;

    &.to-grd { background: linear-gradient(#b7cc00 , #a8bb00); }
  }
  .c-is-G {
    background: #00a15a;
    color: $white;

    &.to-grd { background: linear-gradient(#00cc72 , #00a15a); }
  }
  .c-is-GB {
    background: #00857f;
    color: $white;

    &.to-grd { background: linear-gradient(#009992 , #00857f); }
  }
  .c-is-gB {
    background: #00709b;
    color: $white;

    &.to-grd { background: linear-gradient(#0093cc , #00709b); }
  }
  .c-is-B {
    background: #005ba5;
    color: $white;

    &.to-grd { background: linear-gradient(#0071cc , #005ba5); }
  }
  .c-is-V {
    background: #534aa0;
    color: $white;

    &.to-grd { background: linear-gradient(#5a51ae , #534aa0); }
  }
  .c-is-P {
    background: #81378a;
    color: $white;

    &.to-grd { background: linear-gradient(#883a92 , #81378a); }
  }
  .c-is-RP {
    background: #ad2e6c;
    color: $white;

    &.to-grd { background: linear-gradient(#c9367e , #ad2e6c); }
  }
}

.t-is-b {
  .c-is-R {
    background: #ef6c70;
    color: $white;

    &.to-grd { background: linear-gradient(#f07579 , #ef6c70); }
  }
  .c-is-rO {
    background: #fa8155;
    color: $white;

    &.to-grd { background: linear-gradient(#fb916a , #fa8155); }
  }
  .c-is-yO {
    background: #ffad36;
    color: $grey-dark;

    &.to-grd { background: linear-gradient(#ffc166 , #ffad36); }
  }
  .c-is-Y {
    background: #fad831;
    color: $grey-dark;

    &.to-grd { background: linear-gradient(#fad938 , #fad831); }
  }
  .c-is-YG {
    background: #b7c82b;
    color: $grey-dark;

    &.to-grd { background: linear-gradient(#c0d22d , #b7c82b); }
  }
  .c-is-G {
    background: #41b879;
    color: $white;

    &.to-grd { background: linear-gradient(#43bc7c , #41b879); }
  }
  .c-is-GB {
    background: #00aa9f;
    color: $white;

    &.to-grd { background: linear-gradient(#00ccbf , #00aa9f); }
  }
  .c-is-gB {
    background: #0098b9;
    color: $white;

    &.to-grd { background: linear-gradient(#00a8cc , #0098b9); }
  }
  .c-is-B {
    background: #2981c0;
    color: $white;

    &.to-grd { background: linear-gradient(#2d8dd2 , #2981c0); }
  }
  .c-is-V {
    background: #7574bc;
    color: $white;

    &.to-grd { background: linear-gradient(#9998cd , #7574bc); }
  }
  .c-is-P {
    background: #a165a8;
    color: $white;

    &.to-grd { background: linear-gradient(#af7db5 , #a165a8); }
  }
  .c-is-RP {
    background: #d0678e;
    color: $white;

    &.to-grd { background: linear-gradient(#db8aa8 , #d0678e); }
  }
}

.t-is-s {
  .c-is-R {
    background: #c53f4d;
    color: $white;

    &.to-grd { background: linear-gradient(#d0626e , #c53f4d); }
  }
  .c-is-rO {
    background: #cc572e;
    color: $white;

    &.to-grd { background: linear-gradient(#d0592f , #cc572e); }
  }
  .c-is-yO {
    background: #e19215;
    color: $white;

    &.to-grd { background: linear-gradient(#e99716 , #e19215); }
  }
  .c-is-Y {
    background: #debc03;
    color: $grey-dark;

    &.to-grd { background: linear-gradient(#fcd503 , #debc03); }
  }
  .c-is-YG {
    background: #9cad00;
    color: $white;

    &.to-grd { background: linear-gradient(#b8cc00 , #9cad00); }
  }
  .c-is-G {
    background: #008f56;
    color: $white;

    &.to-grd { background: linear-gradient(#00995c , #008f56); }
  }
  .c-is-GB {
    background: #00827c;
    color: $white;

    &.to-grd { background: linear-gradient(#009992 , #00827c); }
  }
  .c-is-gB {
    background: #006f92;
    color: $white;

    &.to-grd { background: linear-gradient(#007499 , #006f92); }
  }
  .c-is-B {
    background: #005b9b;
    color: $white;

    &.to-grd { background: linear-gradient(#0078cc , #005b9b); }
  }
  .c-is-V {
    background: #534c98;
    color: $white;

    &.to-grd { background: linear-gradient(#5d55aa , #534c98); }
  }
  .c-is-P {
    background: #7c3d84;
    color: $white;

    &.to-grd { background: linear-gradient(#83408c , #7c3d84); }
  }
  .c-is-RP {
    background: #a33c6a;
    color: $white;

    &.to-grd { background: linear-gradient(#ba4579 , #a33c6a); }
  }
}

.t-is-dp {
  .c-is-R {
    background: #a61d39;
    color: $white;

    &.to-grd { background: linear-gradient(#ae1e3c , #a61d39); }
  }
  .c-is-rO {
    background: #ab3d1d;
    color: $white;

    &.to-grd { background: linear-gradient(#ae3e1e , #ab3d1d); }
  }
  .c-is-yO {
    background: #b16c00;
    color: $white;

    &.to-grd { background: linear-gradient(#cc7c00 , #b16c00); }
  }
  .c-is-Y {
    background: #b39300;
    color: $white;

    &.to-grd { background: linear-gradient(#cca800 , #b39300); }
  }
  .c-is-YG {
    background: #748400;
    color: $white;

    &.to-grd { background: linear-gradient(#869900 , #748400); }
  }
  .c-is-G {
    background: #007243;
    color: $white;

    &.to-grd { background: linear-gradient(#00995a , #007243); }
  }
  .c-is-GB {
    background: #006664;
    color: $white;

    &.to-grd { background: linear-gradient(#009996 , #006664); }
  }
  .c-is-gB {
    background: #005476;
    color: $white;

    &.to-grd { background: linear-gradient(#006d99 , #005476); }
  }
  .c-is-B {
    background: #004280;
    color: $white;

    &.to-grd { background: linear-gradient(#004f99 , #004280); }
  }
  .c-is-V {
    background: #3e337b;
    color: $white;

    &.to-grd { background: linear-gradient(#493c90 , #3e337b); }
  }
  .c-is-P {
    background: #612469;
    color: $white;

    &.to-grd { background: linear-gradient(#692772 , #612469); }
  }
  .c-is-RP {
    background: #861d55;
    color: $white;

    &.to-grd { background: linear-gradient(#a8246a , #861d55); }
  }
}

.t-is-lt {
  .c-is-R {
    background: #f19896;
    color: $grey-dark;

    &.to-grd { background: linear-gradient(#f3a7a5 , #f19896); }
  }
  .c-is-rO {
    background: #ffa787;
    color: $grey-dark;

    &.to-grd { background: linear-gradient(#ffb499 , #ffa787); }
  }
  .c-is-yO {
    background: #ffbe71;
    color: $grey-dark;

    &.to-grd { background: linear-gradient(#ffd099 , #ffbe71); }
  }
  .c-is-Y {
    background: #f2d96e;
    color: $grey-dark;

    &.to-grd { background: linear-gradient(#f2da73 , #f2d96e); }
  }
  .c-is-YG {
    background: #c7d36d;
    color: $grey-dark;

    &.to-grd { background: linear-gradient(#d2dc89 , #c7d36d); }
  }
  .c-is-G {
    background: #85ce9e;
    color: $grey-dark;

    &.to-grd { background: linear-gradient(#92d3a8 , #85ce9e); }
  }
  .c-is-GB {
    background: #62c0b5;
    color: $grey-dark;

    &.to-grd { background: linear-gradient(#6dc5ba , #62c0b5); }
  }
  .c-is-gB {
    background: #5bafc4;
    color: $white;

    &.to-grd { background: linear-gradient(#69b6c9 , #5bafc4); }
  }
  .c-is-B {
    background: #6c9ac5;
    color: $white;

    &.to-grd { background: linear-gradient(#91b4d4 , #6c9ac5); }
  }
  .c-is-V {
    background: #9091c3;
    color: $white;

    &.to-grd { background: linear-gradient(#9c9dc9 , #9091c3); }
  }
  .c-is-P {
    background: #b088b5;
    color: $white;

    &.to-grd { background: linear-gradient(#c0a1c4 , #b088b5); }
  }
  .c-is-RP {
    background: #d98ea5;
    color: $white;

    &.to-grd { background: linear-gradient(#e5b3c2 , #d98ea5); }
  }
}

.t-is-sf {
  .c-is-R {
    background: #ca8281;
    color: $white;

    &.to-grd { background: linear-gradient(#d29493 , #ca8281); }
  }
  .c-is-rO {
    background: #da927a;
    color: $white;

    &.to-grd { background: linear-gradient(#de9d87 , #da927a); }
  }
  .c-is-yO {
    background: #dba66b;
    color: $grey-dark;

    &.to-grd { background: linear-gradient(#e1b584 , #dba66b); }
  }
  .c-is-Y {
    background: #d3bd6c;
    color: $grey-dark;

    &.to-grd { background: linear-gradient(#dcca89 , #d3bd6c); }
  }
  .c-is-YG {
    background: #adb66b;
    color: $grey-dark;

    &.to-grd { background: linear-gradient(#b3bc76 , #adb66b); }
  }
  .c-is-G {
    background: #76b18a;
    color: $white;

    &.to-grd { background: linear-gradient(#7db590 , #76b18a); }
  }
  .c-is-GB {
    background: #54a39b;
    color: $white;

    &.to-grd { background: linear-gradient(#57a8a0 , #54a39b); }
  }
  .c-is-gB {
    background: #5192a4;
    color: $white;

    &.to-grd { background: linear-gradient(#5498ab , #5192a4); }
  }
  .c-is-B {
    background: #5d7ea0;
    color: $white;

    &.to-grd { background: linear-gradient(#7e99b4 , #5d7ea0); }
  }
  .c-is-V {
    background: #7878a0;
    color: $white;

    &.to-grd { background: linear-gradient(#8787ab , #7878a0); }
  }
  .c-is-P {
    background: #907194;
    color: $white;

    &.to-grd { background: linear-gradient(#a48ba7 , #907194); }
  }
  .c-is-RP {
    background: #b4788b;
    color: $white;

    &.to-grd { background: linear-gradient(#b67c8e , #b4788b); }
  }
}

.t-is-d {
  .c-is-R {
    background: #a35a5c;
    color: $white;

    &.to-grd { background: linear-gradient(#b67c7d , #a35a5c); }
  }
  .c-is-rO {
    background: #af6954;
    color: $white;

    &.to-grd { background: linear-gradient(#be8574 , #af6954); }
  }
  .c-is-yO {
    background: #b37f46;
    color: $white;

    &.to-grd { background: linear-gradient(#b78248 , #b37f46); }
  }
  .c-is-Y {
    background: #ab9446;
    color: $white;

    &.to-grd { background: linear-gradient(#b59d4a , #ab9446); }
  }
  .c-is-YG {
    background: #858f46;
    color: $white;

    &.to-grd { background: linear-gradient(#9fab54 , #858f46); }
  }
  .c-is-G {
    background: #4f8766;
    color: $white;

    &.to-grd { background: linear-gradient(#5ea17a , #4f8766); }
  }
  .c-is-GB {
    background: #2a7b76;
    color: $white;

    &.to-grd { background: linear-gradient(#349892 , #2a7b76); }
  }
  .c-is-gB {
    background: #246a7d;
    color: $white;

    &.to-grd { background: linear-gradient(#2e869e , #246a7d); }
  }
  .c-is-B {
    background: #34597d;
    color: $white;

    &.to-grd { background: linear-gradient(#3c6790 , #34597d); }
  }
  .c-is-V {
    background: #54527c;
    color: $white;

    &.to-grd { background: linear-gradient(#686699 , #54527c); }
  }
  .c-is-P {
    background: #6c4a71;
    color: $white;

    &.to-grd { background: linear-gradient(#76517b , #6c4a71); }
  }
  .c-is-RP {
    background: #8b4f65;
    color: $white;

    &.to-grd { background: linear-gradient(#a35c76 , #8b4f65); }
  }
}

.t-is-dk {
  .c-is-R {
    background: #692934;
    color: $white;

    &.to-grd { background: linear-gradient(#6e2b36 , #692934); }
  }
  .c-is-rO {
    background: #75362a;
    color: $white;

    &.to-grd { background: linear-gradient(#964536 , #75362a); }
  }
  .c-is-yO {
    background: #794d1c;
    color: $white;

    &.to-grd { background: linear-gradient(#7c4f1d , #794d1c); }
  }
  .c-is-Y {
    background: #74601f;
    color: $white;

    &.to-grd { background: linear-gradient(#796420 , #74601f); }
  }
  .c-is-YG {
    background: #525b20;
    color: $white;

    &.to-grd { background: linear-gradient(#667128 , #525b20); }
  }
  .c-is-G {
    background: #23523a;
    color: $white;

    &.to-grd { background: linear-gradient(#2e6b4c , #23523a); }
  }
  .c-is-GB {
    background: #004746;
    color: $white;

    &.to-grd { background: linear-gradient(#006665 , #004746); }
  }
  .c-is-gB {
    background: #004558;
    color: $white;

    &.to-grd { background: linear-gradient(#005066 , #004558); }
  }
  .c-is-B {
    background: #123452;
    color: $white;

    &.to-grd { background: linear-gradient(#1c507d , #123452); }
  }
  .c-is-V {
    background: #322d51;
    color: $white;

    &.to-grd { background: linear-gradient(#3d3762 , #322d51); }
  }
  .c-is-P {
    background: #432848;
    color: $white;

    &.to-grd { background: linear-gradient(#5c3762 , #432848); }
  }
  .c-is-RP {
    background: #612d46;
    color: $white;

    &.to-grd { background: linear-gradient(#69304b , #612d46); }
  }
}

.t-is-p {
  .c-is-R {
    background: #e8c2bf;
    color: $grey-dark;

    &.to-grd { background: linear-gradient(#f2dbd9 , #e8c2bf); }
  }
  .c-is-rO {
    background: #ebc2b5;
    color: $grey-dark;

    &.to-grd { background: linear-gradient(#f4ded7 , #ebc2b5); }
  }
  .c-is-yO {
    background: #f4d4b0;
    color: $grey-dark;

    &.to-grd { background: linear-gradient(#f9e7d2 , #f4d4b0); }
  }
  .c-is-Y {
    background: #f2e6b8;
    color: $grey-dark;

    &.to-grd { background: linear-gradient(#f7f0d4 , #f2e6b8); }
  }
  .c-is-YG {
    background: #d8ddad;
    color: $grey-dark;

    &.to-grd { background: linear-gradient(#dde1b7 , #d8ddad); }
  }
  .c-is-G {
    background: #aed4b9;
    color: $grey-dark;

    &.to-grd { background: linear-gradient(#bcdcc5 , #aed4b9); }
  }
  .c-is-GB {
    background: #a6d4cc;
    color: $grey-dark;

    &.to-grd { background: linear-gradient(#baded8 , #a6d4cc); }
  }
  .c-is-gB {
    background: #add1da;
    color: $grey-dark;

    &.to-grd { background: linear-gradient(#b9d8df , #add1da); }
  }
  .c-is-B {
    background: #afc0d1;
    color: $grey-dark;

    &.to-grd { background: linear-gradient(#beccda , #afc0d1); }
  }
  .c-is-V {
    background: #bbbdd0;
    color: $grey-dark;

    &.to-grd { background: linear-gradient(#c3c4d5 , #bbbdd0); }
  }
  .c-is-P {
    background: #c8b9c9;
    color: $grey-dark;

    &.to-grd { background: linear-gradient(#d2c5d3 , #c8b9c9); }
  }
  .c-is-RP {
    background: #dec4ca;
    color: $grey-dark;

    &.to-grd { background: linear-gradient(#eddee2 , #dec4ca); }
  }
}

.t-is-ltg {
  .c-is-R {
    background: #c0abaa;
    color: $grey-dark;

    &.to-grd { background: linear-gradient(#d4c5c4 , #c0abaa); }
  }
  .c-is-rO {
    background: #c1aba5;
    color: $grey-dark;

    &.to-grd { background: linear-gradient(#d5c7c3 , #c1aba5); }
  }
  .c-is-yO {
    background: #cebba8;
    color: $grey-dark;

    &.to-grd { background: linear-gradient(#daccbe , #cebba8); }
  }
  .c-is-Y {
    background: #c6bea1;
    color: $grey-dark;

    &.to-grd { background: linear-gradient(#d8d3c0 , #c6bea1); }
  }
  .c-is-YG {
    background: #bdc1a2;
    color: $grey-dark;

    &.to-grd { background: linear-gradient(#d4d6c2 , #bdc1a2); }
  }
  .c-is-G {
    background: #9db6a5;
    color: $grey-dark;

    &.to-grd { background: linear-gradient(#a7beae , #9db6a5); }
  }
  .c-is-GB {
    background: #98b6b1;
    color: $grey-dark;

    &.to-grd { background: linear-gradient(#a5c0bb , #98b6b1); }
  }
  .c-is-gB {
    background: #9eb4b9;
    color: $grey-dark;

    &.to-grd { background: linear-gradient(#a6babf , #9eb4b9); }
  }
  .c-is-B {
    background: #9ba5af;
    color: $white;

    &.to-grd { background: linear-gradient(#aab3bb , #9ba5af); }
  }
  .c-is-V {
    background: #a2a2af;
    color: $white;

    &.to-grd { background: linear-gradient(#adadb8 , #a2a2af); }
  }
  .c-is-P {
    background: #aba0ab;
    color: $white;

    &.to-grd { background: linear-gradient(#b7aeb7 , #aba0ab); }
  }
  .c-is-RP {
    background: #bdacb0;
    color: $grey-dark;

    &.to-grd { background: linear-gradient(#d2c6c9 , #bdacb0); }
  }
}

.t-is-g {
  .c-is-R {
    background: #745c5c;
    color: $white;

    &.to-grd { background: linear-gradient(#8e7171 , #745c5c); }
  }
  .c-is-rO {
    background: #755c57;
    color: $white;

    &.to-grd { background: linear-gradient(#92736d , #755c57); }
  }
  .c-is-yO {
    background: #806c5c;
    color: $white;

    &.to-grd { background: linear-gradient(#947d6b , #806c5c); }
  }
  .c-is-Y {
    background: #786f57;
    color: $white;

    &.to-grd { background: linear-gradient(#94896b , #786f57); }
  }
  .c-is-YG {
    background: #6e725a;
    color: $white;

    &.to-grd { background: linear-gradient(#8a8f71 , #6e725a); }
  }
  .c-is-G {
    background: #53665a;
    color: $white;

    &.to-grd { background: linear-gradient(#5c7063 , #53665a); }
  }
  .c-is-GB {
    background: #4e6764;
    color: $white;

    &.to-grd { background: linear-gradient(#587471 , #4e6764); }
  }
  .c-is-gB {
    background: #4f656c;
    color: $white;

    &.to-grd { background: linear-gradient(#566e76 , #4f656c); }
  }
  .c-is-B {
    background: #4c5765;
    color: $white;

    &.to-grd { background: linear-gradient(#586474 , #4c5765); }
  }
  .c-is-V {
    background: #565566;
    color: $white;

    &.to-grd { background: linear-gradient(#5e5d6f , #565566); }
  }
  .c-is-P {
    background: #605262;
    color: $white;

    &.to-grd { background: linear-gradient(#6d5d6f , #605262); }
  }
  .c-is-RP {
    background: #725c63;
    color: $white;

    &.to-grd { background: linear-gradient(#8d727b , #725c63); }
  }
}

.t-is-dkg {
  .c-is-R {
    background: #3e2d30;
    color: $white;

    &.to-grd { background: linear-gradient(#594045 , #3e2d30); }
  }
  .c-is-rO {
    background: #3f2e2c;
    color: $white;

    &.to-grd { background: linear-gradient(#5a423f , #3f2e2c); }
  }
  .c-is-yO {
    background: #4a3c32;
    color: $white;

    &.to-grd { background: linear-gradient(#5b4a3e , #4a3c32); }
  }
  .c-is-Y {
    background: #443e30;
    color: $white;

    &.to-grd { background: linear-gradient(#5a523f , #443e30); }
  }
  .c-is-YG {
    background: #3d4033;
    color: $white;

    &.to-grd { background: linear-gradient(#515544 , #3d4033); }
  }
  .c-is-G {
    background: #2a342e;
    color: $white;

    &.to-grd { background: linear-gradient(#2e3832 , #2a342e); }
  }
  .c-is-GB {
    background: #273434;
    color: $white;

    &.to-grd { background: linear-gradient(#2c3a3a , #273434); }
  }
  .c-is-gB {
    background: #273439;
    color: $white;

    &.to-grd { background: linear-gradient(#29373d , #273439); }
  }
  .c-is-B {
    background: #222933;
    color: $white;

    &.to-grd { background: linear-gradient(#29313d , #222933); }
  }
  .c-is-V {
    background: #292734;
    color: $white;

    &.to-grd { background: linear-gradient(#2e2c3a , #292734); }
  }
  .c-is-P {
    background: #302531;
    color: $white;

    &.to-grd { background: linear-gradient(#392c3a , #302531); }
  }
  .c-is-RP {
    background: #3d2e34;
    color: $white;

    &.to-grd { background: linear-gradient(#57424a , #3d2e34); }
  }
}
